<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <style>
        body {
            background-color: #ccffcc; /* Light green background */
        }
        .heading {
            color: green;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 class="heading">ProReco - Product Recommendation System</h1>
    <h2>{{ message }}</h2>
</body>
</body>
</html>
