<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            background-color: #ccffcc; /* Light green background */
        }
        .heading {
            color: green;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 class="heading">ProReco - Product Recommendation System</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.customer_id.label }}<br>
            {{ form.customer_id(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
